body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f5f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header {
  width: 100%;
  text-align: center;
  padding: 20px;
  color:black;
  font-size: 22px;
  font-weight: bold;
}

.card {
  background: #ffffff;
  width: 320px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}


.card label {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}


.card input,
.card select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid greenyellow;
  font-size: 14px;
  outline: none;
}

.card input:focus,
.card select:focus {
  border-color: #1e88e5;
}


.card button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #1e88e5;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.card button:hover {
  background: #1565c0;
}


/* TABLET VIEW */
@media (max-width: 768px) {

  body {
    padding: 10px;
  }

  .header {
    font-size: 20px;
    padding: 15px;
  }

  .card {
    width: 90%;
    max-width: 360px;
    margin-top: 20px;
    padding: 22px;
  }
}

/* SMALL MOBILE VIEW */
@media (max-width: 480px) {

  .header {
    font-size: 18px;
  }

  .card {
    width: 100%;
    padding: 18px;
    border-radius: 10px;
  }

  .card label {
    font-size: 13px;
  }

  .card input,
  .card select {
    font-size: 13px;
    padding: 12px;
  }

  .card button {
    font-size: 14px;
    padding: 12px;
  }
}
